body {
	
}

.mycol {
	border: 3px dotted blue !important;
}

#footer {
	background-color : #343A40;
}

#body {
	border: 3px solid black;
}

#chapters_title {
	font-size: 1.1em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 5px;
}

#title {
	font-size: 2em;
}

.fastpres {
	font-size: 1.1em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 5px;
}

footer {
	color: white;
	font-size: 0.8em;
}

#lptitle {
	font-size: 2em;
}

button {
	margin-right: 5px;
}

#commentaires_titre {
	font-size: 1.2em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 5px;
}

#comments_display {
	background-color: #96999b;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 8px;
	margin-bottom : 10px;
}

#name {
	color : #365899;
	margin-bottom: 4px;
}
