@font-face {
	font-family: "expressway";
	src: url('../fonts/expressway.ttf');
}

body {	
}

.home_title {
	font-size: 1.2em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 10px;
	font-family: "expressway";
}

#admin_presentation {
	font-family: "expressway";
	font-size: 1.2em;

}

.mycol {
	border: 3px dotted blue !important;
}

#footer {
	background-color : #343A40;
}

#body {
	border: 3px solid black;
}

#chapters_title {
	font-size: 1.1em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 5px;
}

#title {
	font-size: 2em;
}

.fastpres {
	font-size: 1.1em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 5px;
}

footer {
	color: white;
	font-size: 0.8em;
}

#lptitle {
	font-size: 2em;
}

button {
	margin-right: 5px;
}

#commentaires_titre {
	font-size: 1.2em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 5px;
}

#comments_display {
	background-color: #96999b;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 8px;
	margin-bottom : 15px;
}

#name {
	color : #365899;
	margin-bottom: 4px;
}

#author_presentation { 
	border: 3px solid black;
	background-color: #838487;
}

.home_windows {
	background-color: #838487;
}

.gras {
	font-weight: bold;
}

#author_section {
	margin-bottom: 200px;
}

#signup_section {
	margin-bottom: 300px;
}

#login_section {
	margin-bottom: 520px;
}

#edit_section {
	margin-bottom: 115px;
}

.admin_newpost {
	margin-bottom: 150px;
}

.admin_home {
	margin-bottom: 800px;
}

.admin_post {
	margin-bottom: 700px;
}

.admin_signaled {
	margin-bottom: 800px;
}

.h3 {
	font-size: 1.1em;
	font-weight: bold;
	background-color : #343A40;
	color: white;
	padding: 5px;
	margin-left: 20px;
}

#report_msg {
	color: green;
}

.green {
 	color: green;
}

.red {
	color: red;
}